<nav>
    <div class="navbar_1">
        <div>
            <img class="School_logo" src="../images/comScience_logo.png" alt="" height="60px">
        </div>    
        <ul class="beside_pic">
                <Li><a href="../html/Homepage.html"><strong>Home</strong></a></Li>
                <Li><a href="Aboutpage.html"><strong>About</strong></a></Li>
                <Li><a href="../html/Contact.html"><strong>Contacts</strong></a></Li>
                <Li><a href="../html/news.html"><strong>News and Events</strong></a></Li>
            </ul>

    </div>
    <div class="navbar_2">
        <div>
            <ul class="navbarul">
                <Li><a href=""><strong>Gallery</strong></a></Li>
                <li><a href=""><strong>Catalog</strong></a></li>
                <li><a href=""><strong>Events</strong></a></li>
            </ul>
        </div>
        <div>
            <input class="search_bar" placeholder="search">
        </div>
    </div>
</nav>